In [2]:
import pandas as pd

In [3]:

df = pd.read_csv("depression_data.csv")
df

,Name,Age,Marital Status,Education Level,Number of Children,Smoking Status,Physical Activity Level,Employment Status,Income,Alcohol Consumption,Dietary Habits,Sleep Patterns,History of Mental Illness,History of Substance Abuse,Family History of Depression,Chronic Medical Conditions
0,Christine Barker,31,Married,Bachelor's Degree,2,Non-smoker,Active,Unemployed,26265.67,Moderate,Moderate,Fair,Yes,No,Yes,Yes
1,Jacqueline Lewis,55,Married,High School,1,Non-smoker,Sedentary,Employed,42710.36,High,Unhealthy,Fair,Yes,No,No,Yes
2,Shannon Church,78,Widowed,Master's Degree,1,Non-smoker,Sedentary,Employed,125332.79,Low,Unhealthy,Good,No,No,Yes,No
3,Charles Jordan,58,Divorced,Master's Degree,3,Non-smoker,Moderate,Unemployed,9992.78,Moderate,Moderate,Poor,No,No,No,No
4,Michael Rich,18,Single,High School,0,Non-smoker,Sedentary,Unemployed,8595.08,Low,Moderate,Fair,Yes,No,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413763,Sean Miller,68,Married,Master's Degree,0,Former,Moderate,Employed,109233.43,Low,Healthy,Good,No,No,No,No
413764,Christina Brown,26,Single,Bachelor's Degree,0,Current,Active,Employed,96760.97,Low,Healthy,Poor,Yes,Yes,No,Yes
413765,Matthew Jenkins,57,Married,Bachelor's Degree,0,Non-smoker,Sedentary,Employed,77353.26,Moderate,Moderate,Fair,No,No,Yes,Yes
413766,Gary Faulkner,71,Married,Associate Degree,2,Non-smoker,Sedentary,Unemployed,24557.08,Moderate,Moderate,Poor,No,Yes,No,No
413767,Joseph Johnson,62,Widowed,Master's Degree,0,Former,Moderate,Employed,107125.74,Moderate,Healthy,Good,No,Yes,No,No

In [4]:
df = df.iloc[:3768]
df

,Name,Age,Marital Status,Education Level,Number of Children,Smoking Status,Physical Activity Level,Employment Status,Income,Alcohol Consumption,Dietary Habits,Sleep Patterns,History of Mental Illness,History of Substance Abuse,Family History of Depression,Chronic Medical Conditions
0,Christine Barker,31,Married,Bachelor's Degree,2,Non-smoker,Active,Unemployed,26265.67,Moderate,Moderate,Fair,Yes,No,Yes,Yes
1,Jacqueline Lewis,55,Married,High School,1,Non-smoker,Sedentary,Employed,42710.36,High,Unhealthy,Fair,Yes,No,No,Yes
2,Shannon Church,78,Widowed,Master's Degree,1,Non-smoker,Sedentary,Employed,125332.79,Low,Unhealthy,Good,No,No,Yes,No
3,Charles Jordan,58,Divorced,Master's Degree,3,Non-smoker,Moderate,Unemployed,9992.78,Moderate,Moderate,Poor,No,No,No,No
4,Michael Rich,18,Single,High School,0,Non-smoker,Sedentary,Unemployed,8595.08,Low,Moderate,Fair,Yes,No,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3763,Jessica Young,60,Widowed,Bachelor's Degree,3,Non-smoker,Moderate,Unemployed,26422.18,Moderate,Healthy,Fair,No,No,Yes,Yes
3764,Bryan Gutierrez,51,Divorced,Bachelor's Degree,3,Former,Active,Employed,66121.54,Low,Healthy,Fair,No,No,No,No
3765,Timothy Jackson,41,Married,Bachelor's Degree,0,Current,Moderate,Employed,100644.37,High,Unhealthy,Good,No,Yes,No,No
3766,Jose Johnson,53,Married,High School,1,Former,Moderate,Employed,27657.48,Moderate,Moderate,Poor,Yes,No,No,No
3767,Eugene Thomas,54,Married,Master's Degree,2,Non-smoker,Moderate,Employed,81494.44,Low,Healthy,Fair,No,No,No,No

In [5]:
df.head()

,Name,Age,Marital Status,Education Level,Number of Children,Smoking Status,Physical Activity Level,Employment Status,Income,Alcohol Consumption,Dietary Habits,Sleep Patterns,History of Mental Illness,History of Substance Abuse,Family History of Depression,Chronic Medical Conditions
0,Christine Barker,31,Married,Bachelor's Degree,2,Non-smoker,Active,Unemployed,26265.67,Moderate,Moderate,Fair,Yes,No,Yes,Yes
1,Jacqueline Lewis,55,Married,High School,1,Non-smoker,Sedentary,Employed,42710.36,High,Unhealthy,Fair,Yes,No,No,Yes
2,Shannon Church,78,Widowed,Master's Degree,1,Non-smoker,Sedentary,Employed,125332.79,Low,Unhealthy,Good,No,No,Yes,No
3,Charles Jordan,58,Divorced,Master's Degree,3,Non-smoker,Moderate,Unemployed,9992.78,Moderate,Moderate,Poor,No,No,No,No
4,Michael Rich,18,Single,High School,0,Non-smoker,Sedentary,Unemployed,8595.08,Low,Moderate,Fair,Yes,No,Yes,Yes

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3768 entries, 0 to 3767
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Name                          3768 non-null   object
 1   Age                           3768 non-null   int64
 2   Marital Status                3768 non-null   object
 3   Education Level               3768 non-null   object
 4   Number of Children            3768 non-null   int64
 5   Smoking Status                3768 non-null   object
 6   Physical Activity Level       3768 non-null   object
 7   Employment Status             3768 non-null   object
 8   Income                        3768 non-null   float64
 9   Alcohol Consumption           3768 non-null   object
 10  Dietary Habits                3768 non-null   object
 11  Sleep Patterns                3768 non-null   object
 12  History of Mental Illness     3768 non-null   object
 13  History of Substance Abuse    3768 non-null   object
 14  Family History of Depression  3768 non-null   object
 15  Chronic Medical Conditions    3768 non-null   object
dtypes: float64(1), int64(2), object(13)
memory usage: 471.1+ KB

In [7]:
df.describe()

               Age  Number of Children         Income
count  3768.000000         3768.000000    3768.000000
mean     49.201168            1.289278   50475.351200
std      18.148749            1.227796   40270.287544
min      18.000000            0.000000      16.080000
25%      33.000000            0.000000   21478.855000
50%      50.000000            1.000000   37691.540000
75%      65.000000            2.000000   76357.540000
max      80.000000            4.000000  209894.250000

In [8]:
df.dtypes

Name                             object
Age                               int64
Marital Status                   object
Education Level                  object
Number of Children                int64
Smoking Status                   object
Physical Activity Level          object
Employment Status                object
Income                          float64
Alcohol Consumption              object
Dietary Habits                   object
Sleep Patterns                   object
History of Mental Illness        object
History of Substance Abuse       object
Family History of Depression     object
Chronic Medical Conditions       object
dtype: object

In [9]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
3763    False
3764    False
3765    False
3766    False
3767    False
Length: 3768, dtype: bool

In [10]:
df.drop_duplicates(inplace=True)
df

C:\Users\yasha\AppData\Local\Temp\ipykernel_12700\1725291922.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace=True)

,Name,Age,Marital Status,Education Level,Number of Children,Smoking Status,Physical Activity Level,Employment Status,Income,Alcohol Consumption,Dietary Habits,Sleep Patterns,History of Mental Illness,History of Substance Abuse,Family History of Depression,Chronic Medical Conditions
0,Christine Barker,31,Married,Bachelor's Degree,2,Non-smoker,Active,Unemployed,26265.67,Moderate,Moderate,Fair,Yes,No,Yes,Yes
1,Jacqueline Lewis,55,Married,High School,1,Non-smoker,Sedentary,Employed,42710.36,High,Unhealthy,Fair,Yes,No,No,Yes
2,Shannon Church,78,Widowed,Master's Degree,1,Non-smoker,Sedentary,Employed,125332.79,Low,Unhealthy,Good,No,No,Yes,No
3,Charles Jordan,58,Divorced,Master's Degree,3,Non-smoker,Moderate,Unemployed,9992.78,Moderate,Moderate,Poor,No,No,No,No
4,Michael Rich,18,Single,High School,0,Non-smoker,Sedentary,Unemployed,8595.08,Low,Moderate,Fair,Yes,No,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3763,Jessica Young,60,Widowed,Bachelor's Degree,3,Non-smoker,Moderate,Unemployed,26422.18,Moderate,Healthy,Fair,No,No,Yes,Yes
3764,Bryan Gutierrez,51,Divorced,Bachelor's Degree,3,Former,Active,Employed,66121.54,Low,Healthy,Fair,No,No,No,No
3765,Timothy Jackson,41,Married,Bachelor's Degree,0,Current,Moderate,Employed,100644.37,High,Unhealthy,Good,No,Yes,No,No
3766,Jose Johnson,53,Married,High School,1,Former,Moderate,Employed,27657.48,Moderate,Moderate,Poor,Yes,No,No,No
3767,Eugene Thomas,54,Married,Master's Degree,2,Non-smoker,Moderate,Employed,81494.44,Low,Healthy,Fair,No,No,No,No

In [11]:
df.duplicated().sum()

np.int64(0)

In [12]:
df['Marital Status'].unique()

array(['Married', 'Widowed', 'Divorced', 'Single'], dtype=object)

In [13]:
mar_dict = {'Married':1, 'Widowed':2,'Single':3,'Divorced':4}
df["Marital Status"]= df['Marital Status'].map(mar_dict)

C:\Users\yasha\AppData\Local\Temp\ipykernel_12700\576459789.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Marital Status"]= df['Marital Status'].map(mar_dict)

In [14]:
df

,Name,Age,Marital Status,Education Level,Number of Children,Smoking Status,Physical Activity Level,Employment Status,Income,Alcohol Consumption,Dietary Habits,Sleep Patterns,History of Mental Illness,History of Substance Abuse,Family History of Depression,Chronic Medical Conditions
0,Christine Barker,31,1,Bachelor's Degree,2,Non-smoker,Active,Unemployed,26265.67,Moderate,Moderate,Fair,Yes,No,Yes,Yes
1,Jacqueline Lewis,55,1,High School,1,Non-smoker,Sedentary,Employed,42710.36,High,Unhealthy,Fair,Yes,No,No,Yes
2,Shannon Church,78,2,Master's Degree,1,Non-smoker,Sedentary,Employed,125332.79,Low,Unhealthy,Good,No,No,Yes,No
3,Charles Jordan,58,4,Master's Degree,3,Non-smoker,Moderate,Unemployed,9992.78,Moderate,Moderate,Poor,No,No,No,No
4,Michael Rich,18,3,High School,0,Non-smoker,Sedentary,Unemployed,8595.08,Low,Moderate,Fair,Yes,No,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3763,Jessica Young,60,2,Bachelor's Degree,3,Non-smoker,Moderate,Unemployed,26422.18,Moderate,Healthy,Fair,No,No,Yes,Yes
3764,Bryan Gutierrez,51,4,Bachelor's Degree,3,Former,Active,Employed,66121.54,Low,Healthy,Fair,No,No,No,No
3765,Timothy Jackson,41,1,Bachelor's Degree,0,Current,Moderate,Employed,100644.37,High,Unhealthy,Good,No,Yes,No,No
3766,Jose Johnson,53,1,High School,1,Former,Moderate,Employed,27657.48,Moderate,Moderate,Poor,Yes,No,No,No
3767,Eugene Thomas,54,1,Master's Degree,2,Non-smoker,Moderate,Employed,81494.44,Low,Healthy,Fair,No,No,No,No

In [15]:
df['Education Level'].unique()

array(["Bachelor's Degree", 'High School', "Master's Degree",
       'Associate Degree', 'PhD'], dtype=object)

In [16]:
edu_dict = mar_dict = {"Bachelor's Degree":1, 'High School':2,"Master's Degree":3,'Associate Degree':4,'PhD':5}
df['Education Level']= df['Education Level'].map(edu_dict)

C:\Users\yasha\AppData\Local\Temp\ipykernel_12700\882505861.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Education Level']= df['Education Level'].map(edu_dict)

In [17]:
df

,Name,Age,Marital Status,Education Level,Number of Children,Smoking Status,Physical Activity Level,Employment Status,Income,Alcohol Consumption,Dietary Habits,Sleep Patterns,History of Mental Illness,History of Substance Abuse,Family History of Depression,Chronic Medical Conditions
0,Christine Barker,31,1,1,2,Non-smoker,Active,Unemployed,26265.67,Moderate,Moderate,Fair,Yes,No,Yes,Yes
1,Jacqueline Lewis,55,1,2,1,Non-smoker,Sedentary,Employed,42710.36,High,Unhealthy,Fair,Yes,No,No,Yes
2,Shannon Church,78,2,3,1,Non-smoker,Sedentary,Employed,125332.79,Low,Unhealthy,Good,No,No,Yes,No
3,Charles Jordan,58,4,3,3,Non-smoker,Moderate,Unemployed,9992.78,Moderate,Moderate,Poor,No,No,No,No
4,Michael Rich,18,3,2,0,Non-smoker,Sedentary,Unemployed,8595.08,Low,Moderate,Fair,Yes,No,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3763,Jessica Young,60,2,1,3,Non-smoker,Moderate,Unemployed,26422.18,Moderate,Healthy,Fair,No,No,Yes,Yes
3764,Bryan Gutierrez,51,4,1,3,Former,Active,Employed,66121.54,Low,Healthy,Fair,No,No,No,No
3765,Timothy Jackson,41,1,1,0,Current,Moderate,Employed,100644.37,High,Unhealthy,Good,No,Yes,No,No
3766,Jose Johnson,53,1,2,1,Former,Moderate,Employed,27657.48,Moderate,Moderate,Poor,Yes,No,No,No
3767,Eugene Thomas,54,1,3,2,Non-smoker,Moderate,Employed,81494.44,Low,Healthy,Fair,No,No,No,No

In [18]:
df['Smoking Status'].unique()

array(['Non-smoker', 'Former', 'Current'], dtype=object)

In [19]:
smo_dict = mar_dict = {"Non-smoker":1, 'Former':2,"Current":3}
df['Smoking Status']= df['Smoking Status'].map(smo_dict)

C:\Users\yasha\AppData\Local\Temp\ipykernel_12700\3387852425.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Smoking Status']= df['Smoking Status'].map(smo_dict)

In [20]:
df

,Name,Age,Marital Status,Education Level,Number of Children,Smoking Status,Physical Activity Level,Employment Status,Income,Alcohol Consumption,Dietary Habits,Sleep Patterns,History of Mental Illness,History of Substance Abuse,Family History of Depression,Chronic Medical Conditions
0,Christine Barker,31,1,1,2,1,Active,Unemployed,26265.67,Moderate,Moderate,Fair,Yes,No,Yes,Yes
1,Jacqueline Lewis,55,1,2,1,1,Sedentary,Employed,42710.36,High,Unhealthy,Fair,Yes,No,No,Yes
2,Shannon Church,78,2,3,1,1,Sedentary,Employed,125332.79,Low,Unhealthy,Good,No,No,Yes,No
3,Charles Jordan,58,4,3,3,1,Moderate,Unemployed,9992.78,Moderate,Moderate,Poor,No,No,No,No
4,Michael Rich,18,3,2,0,1,Sedentary,Unemployed,8595.08,Low,Moderate,Fair,Yes,No,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3763,Jessica Young,60,2,1,3,1,Moderate,Unemployed,26422.18,Moderate,Healthy,Fair,No,No,Yes,Yes
3764,Bryan Gutierrez,51,4,1,3,2,Active,Employed,66121.54,Low,Healthy,Fair,No,No,No,No
3765,Timothy Jackson,41,1,1,0,3,Moderate,Employed,100644.37,High,Unhealthy,Good,No,Yes,No,No
3766,Jose Johnson,53,1,2,1,2,Moderate,Employed,27657.48,Moderate,Moderate,Poor,Yes,No,No,No
3767,Eugene Thomas,54,1,3,2,1,Moderate,Employed,81494.44,Low,Healthy,Fair,No,No,No,No

In [21]:
df['Physical Activity Level'].unique()

array(['Active', 'Sedentary', 'Moderate'], dtype=object)

In [22]:
phy_dict = mar_dict = {'Active':1, 'Sedentary':2, 'Moderate':3}
df['Physical Activity Level']= df['Physical Activity Level'].map(phy_dict)

C:\Users\yasha\AppData\Local\Temp\ipykernel_12700\1227121307.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Physical Activity Level']= df['Physical Activity Level'].map(phy_dict)

In [23]:
df

,Name,Age,Marital Status,Education Level,Number of Children,Smoking Status,Physical Activity Level,Employment Status,Income,Alcohol Consumption,Dietary Habits,Sleep Patterns,History of Mental Illness,History of Substance Abuse,Family History of Depression,Chronic Medical Conditions
0,Christine Barker,31,1,1,2,1,1,Unemployed,26265.67,Moderate,Moderate,Fair,Yes,No,Yes,Yes
1,Jacqueline Lewis,55,1,2,1,1,2,Employed,42710.36,High,Unhealthy,Fair,Yes,No,No,Yes
2,Shannon Church,78,2,3,1,1,2,Employed,125332.79,Low,Unhealthy,Good,No,No,Yes,No
3,Charles Jordan,58,4,3,3,1,3,Unemployed,9992.78,Moderate,Moderate,Poor,No,No,No,No
4,Michael Rich,18,3,2,0,1,2,Unemployed,8595.08,Low,Moderate,Fair,Yes,No,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3763,Jessica Young,60,2,1,3,1,3,Unemployed,26422.18,Moderate,Healthy,Fair,No,No,Yes,Yes
3764,Bryan Gutierrez,51,4,1,3,2,1,Employed,66121.54,Low,Healthy,Fair,No,No,No,No
3765,Timothy Jackson,41,1,1,0,3,3,Employed,100644.37,High,Unhealthy,Good,No,Yes,No,No
3766,Jose Johnson,53,1,2,1,2,3,Employed,27657.48,Moderate,Moderate,Poor,Yes,No,No,No
3767,Eugene Thomas,54,1,3,2,1,3,Employed,81494.44,Low,Healthy,Fair,No,No,No,No

In [24]:
df['Employment Status'].unique()

array(['Unemployed', 'Employed'], dtype=object)

In [25]:
emp_dict = mar_dict = {'Unemployed':1, 'Employed':2}
df['Employment Status']= df['Employment Status'].map(emp_dict)

C:\Users\yasha\AppData\Local\Temp\ipykernel_12700\2458744114.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Employment Status']= df['Employment Status'].map(emp_dict)

In [26]:
df

,Name,Age,Marital Status,Education Level,Number of Children,Smoking Status,Physical Activity Level,Employment Status,Income,Alcohol Consumption,Dietary Habits,Sleep Patterns,History of Mental Illness,History of Substance Abuse,Family History of Depression,Chronic Medical Conditions
0,Christine Barker,31,1,1,2,1,1,1,26265.67,Moderate,Moderate,Fair,Yes,No,Yes,Yes
1,Jacqueline Lewis,55,1,2,1,1,2,2,42710.36,High,Unhealthy,Fair,Yes,No,No,Yes
2,Shannon Church,78,2,3,1,1,2,2,125332.79,Low,Unhealthy,Good,No,No,Yes,No
3,Charles Jordan,58,4,3,3,1,3,1,9992.78,Moderate,Moderate,Poor,No,No,No,No
4,Michael Rich,18,3,2,0,1,2,1,8595.08,Low,Moderate,Fair,Yes,No,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3763,Jessica Young,60,2,1,3,1,3,1,26422.18,Moderate,Healthy,Fair,No,No,Yes,Yes
3764,Bryan Gutierrez,51,4,1,3,2,1,2,66121.54,Low,Healthy,Fair,No,No,No,No
3765,Timothy Jackson,41,1,1,0,3,3,2,100644.37,High,Unhealthy,Good,No,Yes,No,No
3766,Jose Johnson,53,1,2,1,2,3,2,27657.48,Moderate,Moderate,Poor,Yes,No,No,No
3767,Eugene Thomas,54,1,3,2,1,3,2,81494.44,Low,Healthy,Fair,No,No,No,No

In [27]:
df["Alcohol Consumption"].unique()

array(['Moderate', 'High', 'Low'], dtype=object)

In [28]:
alc_dict = mar_dict = {'Moderate':1, 'High':2, 'Low':3}
df['Alcohol Consumption']= df['Alcohol Consumption'].map(alc_dict)

C:\Users\yasha\AppData\Local\Temp\ipykernel_12700\3152131106.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Alcohol Consumption']= df['Alcohol Consumption'].map(alc_dict)

In [29]:
df['Sleep Patterns'].unique()

array(['Fair', 'Good', 'Poor'], dtype=object)

In [30]:
sle_dict = mar_dict = {'Moderate':1, 'Unhealthy':2, 'Healthy':3}
df["Sleep Patterns"]= df['Sleep Patterns'].map(sle_dict)

C:\Users\yasha\AppData\Local\Temp\ipykernel_12700\3231122081.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Sleep Patterns"]= df['Sleep Patterns'].map(sle_dict)

In [31]:
df

,Name,Age,Marital Status,Education Level,Number of Children,Smoking Status,Physical Activity Level,Employment Status,Income,Alcohol Consumption,Dietary Habits,Sleep Patterns,History of Mental Illness,History of Substance Abuse,Family History of Depression,Chronic Medical Conditions
0,Christine Barker,31,1,1,2,1,1,1,26265.67,1,Moderate,NaN,Yes,No,Yes,Yes
1,Jacqueline Lewis,55,1,2,1,1,2,2,42710.36,2,Unhealthy,NaN,Yes,No,No,Yes
2,Shannon Church,78,2,3,1,1,2,2,125332.79,3,Unhealthy,NaN,No,No,Yes,No
3,Charles Jordan,58,4,3,3,1,3,1,9992.78,1,Moderate,NaN,No,No,No,No
4,Michael Rich,18,3,2,0,1,2,1,8595.08,3,Moderate,NaN,Yes,No,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3763,Jessica Young,60,2,1,3,1,3,1,26422.18,1,Healthy,NaN,No,No,Yes,Yes
3764,Bryan Gutierrez,51,4,1,3,2,1,2,66121.54,3,Healthy,NaN,No,No,No,No
3765,Timothy Jackson,41,1,1,0,3,3,2,100644.37,2,Unhealthy,NaN,No,Yes,No,No
3766,Jose Johnson,53,1,2,1,2,3,2,27657.48,1,Moderate,NaN,Yes,No,No,No
3767,Eugene Thomas,54,1,3,2,1,3,2,81494.44,3,Healthy,NaN,No,No,No,No

In [32]:
df['History of Mental Illness'].unique()

array(['Yes', 'No'], dtype=object)

In [33]:
Hmi_dict = mar_dict = {'Yes':1, 'No':2}
df["History of Mental Illness"]= df['History of Mental Illness'].map(Hmi_dict)

C:\Users\yasha\AppData\Local\Temp\ipykernel_12700\3407612371.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["History of Mental Illness"]= df['History of Mental Illness'].map(Hmi_dict)

In [34]:
df['History of Substance Abuse'].unique()

array(['No', 'Yes'], dtype=object)

In [35]:
Hsa_dict = mar_dict = {'Yes':1, 'No':2}
df["History of Substance Abuse"]= df['History of Substance Abuse'].map(Hsa_dict)

C:\Users\yasha\AppData\Local\Temp\ipykernel_12700\1961773923.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["History of Substance Abuse"]= df['History of Substance Abuse'].map(Hsa_dict)

In [36]:
df['Family History of Depression'].unique()

array(['Yes', 'No'], dtype=object)

In [37]:
fhd_dict = mar_dict = {'Yes':1, 'No':2}
df["Family History of Depression"]= df['Family History of Depression'].map(fhd_dict)

C:\Users\yasha\AppData\Local\Temp\ipykernel_12700\3501149540.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Family History of Depression"]= df['Family History of Depression'].map(fhd_dict)

In [38]:
df['Chronic Medical Conditions'].unique()

array(['Yes', 'No'], dtype=object)

In [39]:
cmc_dict = mar_dict = {'Yes':1, 'No':2}
df["Chronic Medical Conditions"]= df['Chronic Medical Conditions'].map(cmc_dict)

C:\Users\yasha\AppData\Local\Temp\ipykernel_12700\1581978083.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Chronic Medical Conditions"]= df['Chronic Medical Conditions'].map(cmc_dict)

In [40]:
df

,Name,Age,Marital Status,Education Level,Number of Children,Smoking Status,Physical Activity Level,Employment Status,Income,Alcohol Consumption,Dietary Habits,Sleep Patterns,History of Mental Illness,History of Substance Abuse,Family History of Depression,Chronic Medical Conditions
0,Christine Barker,31,1,1,2,1,1,1,26265.67,1,Moderate,NaN,1,2,1,1
1,Jacqueline Lewis,55,1,2,1,1,2,2,42710.36,2,Unhealthy,NaN,1,2,2,1
2,Shannon Church,78,2,3,1,1,2,2,125332.79,3,Unhealthy,NaN,2,2,1,2
3,Charles Jordan,58,4,3,3,1,3,1,9992.78,1,Moderate,NaN,2,2,2,2
4,Michael Rich,18,3,2,0,1,2,1,8595.08,3,Moderate,NaN,1,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3763,Jessica Young,60,2,1,3,1,3,1,26422.18,1,Healthy,NaN,2,2,1,1
3764,Bryan Gutierrez,51,4,1,3,2,1,2,66121.54,3,Healthy,NaN,2,2,2,2
3765,Timothy Jackson,41,1,1,0,3,3,2,100644.37,2,Unhealthy,NaN,2,1,2,2
3766,Jose Johnson,53,1,2,1,2,3,2,27657.48,1,Moderate,NaN,1,2,2,2
3767,Eugene Thomas,54,1,3,2,1,3,2,81494.44,3,Healthy,NaN,2,2,2,2

In [41]:
df=df.drop(columns=['Sleep Patterns'])
df

,Name,Age,Marital Status,Education Level,Number of Children,Smoking Status,Physical Activity Level,Employment Status,Income,Alcohol Consumption,Dietary Habits,History of Mental Illness,History of Substance Abuse,Family History of Depression,Chronic Medical Conditions
0,Christine Barker,31,1,1,2,1,1,1,26265.67,1,Moderate,1,2,1,1
1,Jacqueline Lewis,55,1,2,1,1,2,2,42710.36,2,Unhealthy,1,2,2,1
2,Shannon Church,78,2,3,1,1,2,2,125332.79,3,Unhealthy,2,2,1,2
3,Charles Jordan,58,4,3,3,1,3,1,9992.78,1,Moderate,2,2,2,2
4,Michael Rich,18,3,2,0,1,2,1,8595.08,3,Moderate,1,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3763,Jessica Young,60,2,1,3,1,3,1,26422.18,1,Healthy,2,2,1,1
3764,Bryan Gutierrez,51,4,1,3,2,1,2,66121.54,3,Healthy,2,2,2,2
3765,Timothy Jackson,41,1,1,0,3,3,2,100644.37,2,Unhealthy,2,1,2,2
3766,Jose Johnson,53,1,2,1,2,3,2,27657.48,1,Moderate,1,2,2,2
3767,Eugene Thomas,54,1,3,2,1,3,2,81494.44,3,Healthy,2,2,2,2

In [42]:
df=df.drop(columns=['Dietary Habits'])
df

,Name,Age,Marital Status,Education Level,Number of Children,Smoking Status,Physical Activity Level,Employment Status,Income,Alcohol Consumption,History of Mental Illness,History of Substance Abuse,Family History of Depression,Chronic Medical Conditions
0,Christine Barker,31,1,1,2,1,1,1,26265.67,1,1,2,1,1
1,Jacqueline Lewis,55,1,2,1,1,2,2,42710.36,2,1,2,2,1
2,Shannon Church,78,2,3,1,1,2,2,125332.79,3,2,2,1,2
3,Charles Jordan,58,4,3,3,1,3,1,9992.78,1,2,2,2,2
4,Michael Rich,18,3,2,0,1,2,1,8595.08,3,1,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3763,Jessica Young,60,2,1,3,1,3,1,26422.18,1,2,2,1,1
3764,Bryan Gutierrez,51,4,1,3,2,1,2,66121.54,3,2,2,2,2
3765,Timothy Jackson,41,1,1,0,3,3,2,100644.37,2,2,1,2,2
3766,Jose Johnson,53,1,2,1,2,3,2,27657.48,1,1,2,2,2
3767,Eugene Thomas,54,1,3,2,1,3,2,81494.44,3,2,2,2,2

In [43]:
df = df.drop(columns=['Name'])
df

,Age,Marital Status,Education Level,Number of Children,Smoking Status,Physical Activity Level,Employment Status,Income,Alcohol Consumption,History of Mental Illness,History of Substance Abuse,Family History of Depression,Chronic Medical Conditions
0,31,1,1,2,1,1,1,26265.67,1,1,2,1,1
1,55,1,2,1,1,2,2,42710.36,2,1,2,2,1
2,78,2,3,1,1,2,2,125332.79,3,2,2,1,2
3,58,4,3,3,1,3,1,9992.78,1,2,2,2,2
4,18,3,2,0,1,2,1,8595.08,3,1,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3763,60,2,1,3,1,3,1,26422.18,1,2,2,1,1
3764,51,4,1,3,2,1,2,66121.54,3,2,2,2,2
3765,41,1,1,0,3,3,2,100644.37,2,2,1,2,2
3766,53,1,2,1,2,3,2,27657.48,1,1,2,2,2
3767,54,1,3,2,1,3,2,81494.44,3,2,2,2,2

In [44]:
df.to_csv('clean_survey_depression.csv')

In [45]:
df

,Age,Marital Status,Education Level,Number of Children,Smoking Status,Physical Activity Level,Employment Status,Income,Alcohol Consumption,History of Mental Illness,History of Substance Abuse,Family History of Depression,Chronic Medical Conditions
0,31,1,1,2,1,1,1,26265.67,1,1,2,1,1
1,55,1,2,1,1,2,2,42710.36,2,1,2,2,1
2,78,2,3,1,1,2,2,125332.79,3,2,2,1,2
3,58,4,3,3,1,3,1,9992.78,1,2,2,2,2
4,18,3,2,0,1,2,1,8595.08,3,1,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3763,60,2,1,3,1,3,1,26422.18,1,2,2,1,1
3764,51,4,1,3,2,1,2,66121.54,3,2,2,2,2
3765,41,1,1,0,3,3,2,100644.37,2,2,1,2,2
3766,53,1,2,1,2,3,2,27657.48,1,1,2,2,2
3767,54,1,3,2,1,3,2,81494.44,3,2,2,2,2

In [51]:
x = df.drop('History of Mental Illness', axis=1)
y = df['History of Mental Illness']

In [52]:
x

,Age,Marital Status,Education Level,Number of Children,Smoking Status,Physical Activity Level,Employment Status,Income,Alcohol Consumption,History of Substance Abuse,Family History of Depression,Chronic Medical Conditions
0,31,1,1,2,1,1,1,26265.67,1,2,1,1
1,55,1,2,1,1,2,2,42710.36,2,2,2,1
2,78,2,3,1,1,2,2,125332.79,3,2,1,2
3,58,4,3,3,1,3,1,9992.78,1,2,2,2
4,18,3,2,0,1,2,1,8595.08,3,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
3763,60,2,1,3,1,3,1,26422.18,1,2,1,1
3764,51,4,1,3,2,1,2,66121.54,3,2,2,2
3765,41,1,1,0,3,3,2,100644.37,2,1,2,2
3766,53,1,2,1,2,3,2,27657.48,1,2,2,2
3767,54,1,3,2,1,3,2,81494.44,3,2,2,2

In [53]:
y

0       1
1       1
2       2
3       2
4       1
       ..
3763    2
3764    2
3765    2
3766    1
3767    2
Name: History of Mental Illness, Length: 3768, dtype: int64

In [54]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [55]:
x_train

,Age,Marital Status,Education Level,Number of Children,Smoking Status,Physical Activity Level,Employment Status,Income,Alcohol Consumption,History of Substance Abuse,Family History of Depression,Chronic Medical Conditions
1352,54,1,1,1,1,2,1,25003.97,3,1,2,2
2290,30,1,2,0,2,1,2,35025.29,3,1,2,2
485,61,1,2,3,1,2,1,20266.20,2,2,2,1
2183,37,3,4,0,2,2,2,42032.59,1,2,2,2
3317,24,1,2,2,2,3,2,28707.05,1,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1130,19,3,2,0,1,1,2,31443.32,1,2,1,1
1294,69,1,3,2,1,2,2,139273.12,3,1,1,2
860,47,1,3,2,1,2,2,149614.32,2,2,1,1
3507,59,1,4,3,2,3,2,64060.58,3,2,2,1
3174,32,1,4,3,3,1,2,46580.74,3,1,2,1

In [56]:
x_train

,Age,Marital Status,Education Level,Number of Children,Smoking Status,Physical Activity Level,Employment Status,Income,Alcohol Consumption,History of Substance Abuse,Family History of Depression,Chronic Medical Conditions
1352,54,1,1,1,1,2,1,25003.97,3,1,2,2
2290,30,1,2,0,2,1,2,35025.29,3,1,2,2
485,61,1,2,3,1,2,1,20266.20,2,2,2,1
2183,37,3,4,0,2,2,2,42032.59,1,2,2,2
3317,24,1,2,2,2,3,2,28707.05,1,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1130,19,3,2,0,1,1,2,31443.32,1,2,1,1
1294,69,1,3,2,1,2,2,139273.12,3,1,1,2
860,47,1,3,2,1,2,2,149614.32,2,2,1,1
3507,59,1,4,3,2,3,2,64060.58,3,2,2,1
3174,32,1,4,3,3,1,2,46580.74,3,1,2,1

In [57]:
y_train

1352    1
2290    2
485     2
2183    2
3317    2
       ..
1130    2
1294    2
860     2
3507    2
3174    1
Name: History of Mental Illness, Length: 3014, dtype: int64

In [58]:
y_test

3538    2
2991    2
220     2
2970    2
1953    2
       ..
752     2
2599    2
1659    2
612     2
1173    2
Name: History of Mental Illness, Length: 754, dtype: int64

In [59]:
x_test.shape,y_test.shape,x_train.shape,y_train.shape

((754, 12), (754,), (3014, 12), (3014,))

In [61]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

In [62]:
from sklearn.svm import SVC
clf = SVC()

In [83]:
import joblib

In [84]:
joblib.dump(clf, 'model.joblib')

['model.joblib']

In [63]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [86]:
y_pred = clf.predict(x_test)

In [65]:
clf = RandomForestClassifier(random_state=42)
clf.fit(x_train, y_train)

RandomForestClassifier(random_state=42)

In [67]:
y_pred = clf.predict(x_test)

In [79]:
accuracy_score(y_test, y_pred)
#accuracy

0.7320954907161804

In [81]:
classification_report(y_test, y_pred)

c:\Users\yasha\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1706: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])
c:\Users\yasha\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1706: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])
c:\Users\yasha\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1706: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])

'              precision    recall  f1-score   support\n\n           1       0.00      0.00      0.00       202\n           2       0.73      1.00      0.85       552\n\n    accuracy                           0.73       754\n   macro avg       0.37      0.50      0.42       754\nweighted avg       0.54      0.73      0.62       754\n'

In [82]:
print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))
print("\nConfusion Matrix:\n", confusion_matrix(y_test, y_pred))

Accuracy: 0.7320954907161804

Classification Report:
               precision    recall  f1-score   support

           1       0.00      0.00      0.00       202
           2       0.73      1.00      0.85       552

    accuracy                           0.73       754
   macro avg       0.37      0.50      0.42       754
weighted avg       0.54      0.73      0.62       754


Confusion Matrix:
 [[  0 202]
 [  0 552]]

c:\Users\yasha\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1706: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])
c:\Users\yasha\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1706: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])
c:\Users\yasha\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1706: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])

In [72]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(max_iter=1000, random_state=42)
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.7307692307692307

Classification Report:
               precision    recall  f1-score   support

           1       0.33      0.00      0.01       202
           2       0.73      1.00      0.84       552

    accuracy                           0.73       754
   macro avg       0.53      0.50      0.43       754
weighted avg       0.63      0.73      0.62       754

In [74]:
from sklearn.svm import SVC
clf = SVC()
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.7320954907161804

Classification Report:
               precision    recall  f1-score   support

           1       0.00      0.00      0.00       202
           2       0.73      1.00      0.85       552

    accuracy                           0.73       754
   macro avg       0.37      0.50      0.42       754
weighted avg       0.54      0.73      0.62       754

c:\Users\yasha\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1706: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])
c:\Users\yasha\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1706: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])
c:\Users\yasha\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1706: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])